.person {
  display: flex;
  flex-flow: column;
  gap: 20px;

  @media (min-width: 800px) {
    flex-flow: row;
  }

  &-img {
    width: calc(100% - 5vw);
    

    @media (min-width: 800px) {
      width: 300px;
      flex: 1 0 300px;
    }
  }
}
